<!-- <header>
    <nav id="nav_bar">
        <a class="gigstarter" id="logo" href="/">GigStarter</a>
        <a class="header_left header" id="artist" href="#">Artists</a>
        <a class="header_left header" id="genre" href="#">Genres</a>
        <a class="header_right header" id="signup" href="">Sign Up</a>
        <a class="header_right header" id="login" href="">Login</a>
    </nav>
</header>
 -->
<div id="main_banner">
    <p class="gigstarter" id="banner_logo">GigStarter</p>
    <p class="tagline">Your Favourites. Wherever.</p>
    <p class="tagline">Power To You.</p>
</div>