/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
}

header {
	background-color: white;
	/*margin-top: 1%;*/
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid grey;
	/*position: fixed;*/
}

#nav_bar a {
	text-decoration: none;
	background-color: white;
}

.header {
	font-size: 16px;
	margin-top: 1%;
	color: #696969;
}

.header_left {
	position: relative;
	left: 3%;
}

#genre {
	margin-left: 2%;
}

.header_right {
	position: relative;
	left: 70%;
}

#logo {
	color: #696969;
	font-size: 32px;
	margin-left: 1%;
}

#signup, #myaccount {
	margin-right: 3%;
}

#login, #logout {
	margin-right: 3%;
}
