// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Artists Page Starts Here

.artists_outer {
	background-color: black;
}

.artists_inner {
	// background-image: url(asset-path('maroon5.jpg'));
	// background-position: center center;
	// background-color: grey;
	height: 525px;
	width: 49%;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.artists_name {
	font-size: 40px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.artists_bottom_box {
	font-size: 32px;
	width: 95%;
	margin-left: 3%;
	margin-bottom: 8%; //2%
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.raised {
	margin-left: 35%;
}

.follow {
	margin-left: 10%;
	width: 10%;
	border: 1px solid grey;
	background-color: #87CEFA;
	word-spacing: 5px;
	color: white;
}

.bring {
	margin-left: 10%;
	width: 20%;
	border: 2px solid grey;
	background-color: white;
}

.fa {
	margin-right: 5%;
}

// Artists Page Ends Here



// Individual Artists Page Starts Here

#artist_name {
	margin-left: 6%;
}

.artist_main_box {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	margin-right: 5%;
}

.artist_img {
	height: 400px;
	width: 600px;
	border-radius: 10px;
}

.artist_desc {
	height: 400px;
	margin-left: 2%;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 2%;
}

.desc_inner_box {
	display: flex;
}

.tiers_table {
	margin-left: 5%;
	text-align: center;
}

.tiers_table tr td {
	padding-left: 15px;
}

.following {
	margin-left: 10%;
}

.desc_buttons {
	display: flex;
	margin-top: 5%;
}

.bring_artist {
	margin-left: 5%;
}
// Individual Artists Page Ends Here